describe('Grupo de Tests 1', () => {
    test('Probando mi test 1', () => {

    })
    
    it('Probando mi test 2', () => {
    
    })
})

describe('Grupo de Tests 2', () => {
    test('Probando mi test 1', () => {

    })
    
    it('Probando mi test 2', () => {
    
    })
})